<div id="four-boxes">
  <div class="row">
    <div class="col-md-6 four-box" id="learning-style">
      <%= image_tag('learning1.png') %>
    </div>
    <div class="col-md-6 four-box" id="back-end-learning">
      <%= image_tag('backend.png') %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 four-box" id="front-end-learning">
      <%= image_tag('frontend.png') %>
    </div>
    <div class="col-md-6 four-box" id="about-me">
      <%= image_tag('about.png') %>

      <p>About</p>
      <p>name : Kevin</p>
      <p>Title : Human</p>
      <%= link_to("facebook","http://www.facebook.com") %>
      <br>
      <%= link_to("google plus","http://www.google.com") %>

    </div>
  </div>
</div>
