<h1><%= @promo_details['title'] %></h1>
<p class="description">Description: <%= @promo_details['description'] %></p><br>
<div class="current-price">
  <p class="inner-price">Price: <%= to_price(@promo_details['price']) %></p>
</div><br>
<div class="outer-old-price">
  <p class="old-price">Original Price: <%= to_price(@promo_details['original_price']) %></p>
</div>
<div>
  <p class="savings">
    <%= percent_savings(@promo_details['original_price'],@promo_details['price']) %>% off
  </p>
</div>
<br><br><br>

<%= form_tag charges_path do %>
  <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
          data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
          data-description="A month's subscription"
          data-amount="<%= @promo_details['price'] %>"></script>
<% end %>