<h1><%= @promo_details['title'] %></h1>
<p class="description">Description: <%= @promo_details['description'] %></p><br>
<div class="current-price">
  <p class="inner-price">Price: <%= to_price(@promo_details['price']) %></p>
</div><br>
<div class="outer-old-price">
  <p class="old-price">Original Price: <%= to_price(@promo_details['original_price']) %></p>
</div>
<div>
  <p class="savings">
    <%= percent_savings(@promo_details['original_price'],@promo_details['price']) %>% off
  </p>
</div>
<br><br><br><br><br><br><br>
<a href="#" class="btn btn-success"><span class="glyphicon glyphicon-shopping-cart"></span> Buy Now </a>